.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 5%;
    border: 6px solid rgb(127, 213, 7);
    box-shadow: 0 0 10px 10px rgba(153, 255, 0, 0.453);
    width: 65%;
    border-radius: 50px;

    &__result {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 8px;
        width: 96%;
        outline: 1px solid #b53f10;
        background-color: #664dcb;
        color: white;
        font-family: "Gemunu Libre", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        transition: outline 0.2s linear;
    }

    .inputs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        &__first,
        &__second {
            display: flex;
            flex-direction: column;
        }

        &__error {
            color: red;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }

    }

    input:required {
        border: 1px dashed red;
    }


    &:focus {
        border: 1px solid darken(#d37133, 20%);
        outline: 1px solid transparent;
    }
}



.number {
    padding: 8px;
    width: 248px;
    outline: 1px solid darken(#468c52, 20%);
    background-color: #33723e;
    color: lighten(#3d984d, 70%);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transition: outline .2s linear;

    &:focus {
        border: 1px solid darken(#729B79, 20%);
        outline: 1px solid transparent;
    }

    .number::selection {
        color: #fff;
        background-color: darken(#729B79, 20%);
    }
}

.number2 {
    padding: 8px;
    width: 248px;
    outline: 1px solid darken(#ee6f3d, 20%);
    background-color: #ce7d3a;
    color: lighten(#bc6328, 70%);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transition: outline .2s linear;

    &:focus {
        border: 1px solid darken(#d37133, 20%);
        outline: 1px solid transparent;
    }

    .number2::selection::selection {
        color: #fff;
        background-color: darken(#d37133, 20%);
    }
}


.allButtons {
    display: flex;
    flex-direction: row;
    margin-left: 34px;
    margin-bottom: 80px;
    margin-top: 68px;
    line-height: 58%;
    gap: 20px;

    &__button {
        text-align: center;
        font-size: 38px;
        background: #fff;
        width: 50%;
        border: 1px solid #3b05de;
        padding: 16px 20px;
        border-radius: 3px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
    }

    &__button:hover {
        color: white;
    }

    &__button::after {
        content: "";
        background: #664dcb;
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(0, 0);
        transition: all 0.3s ease;
    }

    &__button:hover::after {
        transition: all 0.3s ease-out;
        transform: scale(1, 1);
    }

    &__reset {
        font-size: 28px;
        background-color: rgb(252, 157, 41);
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    &__reset:hover {
        background-color: #00431e;
        color: white;
    }


}